.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  
}

.product_card {
  background: #ffffff;
  border: 2px solid #fdb7ea;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 570px;
  text-transform: uppercase;
}

.product_card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
}

.product_img {
  background-color: white;
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.product_title {
  color: black;
  font-size: 1.1rem;
  margin-top: 10px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.product_price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  background: white;
}

.stock_bajo {
  display: inline-block;
  margin-top: 5px;
  padding: 4px 8px;
  background: #ff6b6b;
  color: white;
  font-size: 0.9rem;
  border-radius: 6px;
  font-weight: bold;
}

.btn_group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  background: white;
}

.btn_cart {
  flex: 1;
  background-color: #f7a9df;
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.2s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: black;
}

.btn_cart:hover {
  background: #f093d4;
}

.btn_detail {
  flex: 1;
  background: #b7b1f2;
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.2s;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.btn_detail:hover {
  background: #9d96f0;
}