.cart {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.icon {
  font-size: 1.8rem;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #b7b1f2;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}