.container {
  background-color: #b7b1f2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: #000000;
  text-transform: uppercase;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #b7b1f2;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #000000;
  color: #000000;
  background-color: white;
  text-transform: uppercase;
}

.button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background: #fdb7ea;
  cursor: pointer;
  text-transform: uppercase;
  color: #000000;
}

.button:hover {
  background: #b44b99;
  color: #ffffff;
}