.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  background-color: #b7b1f2;
  border-radius: 18px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000;
  font-weight: 700;
  background-color: #b7b1f2;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  text-transform: uppercase;
}

.image {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  margin: 20px 0;
  border: 1px solid #eee;
  object-fit: contain;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  background-color: #b7b1f2;
}

.price strong {
  color: #000;
  padding: 3px 6px;
  border-radius: 4px;
}

.description {
  margin-top: 12px;
  font-size: 1.1rem;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #b7b1f2;
  font-family: Arial, Helvetica, sans-serif;
}

.description strong {
  color: #000;
  padding: 3px 6px;
  border-radius: 4px;
}


.addBtn{
  flex: 1;
  background: #f7a9df;
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.2s;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin: 10px 5px; 
}
.addBtn:hover{
  background: #9d96f0;
}


.backBtn {
  flex: 1;
  background: #f7a9df;
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.2s;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin: 10px 5px; 
}

.backBtn:hover {
  background: #9d96f0;
}
